* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  position: relative;
  /* overflow: hidden; */
}

.h1-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  /* position: absolute;
  left: 35% */
}

h1 {
  font-family: sans-serif;
  color: coral;
  font-size: 50px;
  margin: 10px 30px 0px;
}

.burger-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  position: absolute;
  right: 5%;
  top: 2%;
  z-index: 2;
}

.background {
  background-color: #f8b49c;
}

.burger-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  cursor: pointer;
}

.burger-line {
  width: 35px;
  height: 5px;
  background-color: coral;
  margin: 4px 0;
}

.burger-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

a {
  color: coral;
}

i {
  height: 40px;
  font-size: 40px;
  margin: 0px 5px;
}

h2, h3 {
  /* margin: 0px 0px 30px; */
  margin: 0;
  font-family: sans-serif;
  cursor: pointer;
}

#arrow {
  font-size: 20px;
  height: 20px;
}

.symbol {
  transform: rotate(180deg);
  display: inline-block;
}

p {
  /* display: inline-block; */
  font-family: sans-serif;
  line-height: 1.7;
  margin: 10px 0px;
}

.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  margin: 50px;
}

.instruc-div {
  /* height: 100%; */
  width: 410px;
  padding-left: 30px;
  justify-self: flex-start
}
.instructions {
  width: 350px;
  /* padding: 10px 20px; */
  margin-right: 60px;
  text-align: justify;
  /* position: absolute;
  background-color: white;
  border: 2px solid black;
  z-index: 1; */
}

.show {
  display: none;
}

.decode {
  display: flex;
  align-items: flex-start;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 12%;
}

button {
  height: 40px;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  background-color: rgb(69, 177, 96);
  margin-top: 10px;
  margin-left: 10px;
  border: solid 1px black;
  cursor: pointer;
}

button:disabled {
  background-color: rgb(163, 177, 167);
  color: rgb(107, 106, 106);
  border: solid 1px rgb(107, 106, 106);
  cursor: not-allowed;
}

table {
  width: 200px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border-right: none;
  border: solid 1px black;
  
  background-color: rgb(207, 201, 201);
  margin-top: 22px;
}

tr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 50px;
  border: solid 0.5px black;
  border-right: none;
}

.row-selected {
  border: orangered 3px solid;
}

.bead {
  border: rgb(33, 35, 36) solid 2px;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}


/* ! Hint Board Items */
.h-board {
  width: 50px;
  height: 500px;
  border: black solid 1px;
  border-left: none;
  margin-top: 22px;
  background-color: rgb(207, 201, 201);
}

.h-row {
  width: 50px;
  height: 50px;
  border: rgb(0, 0, 0) solid 1px;
  display: flex;
  flex-wrap: wrap;
}

.h-cell {
  width: 17px;
  height: 17px;
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 50%;
  background-color: white;
  margin: 3px;
}

.black-peg {
  background-color: black;
  width: 17px;
  height: 17px;
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 50%;
  margin: 3px;
  /* display: inline-block; */
}

.grey-peg {
  background-color: rgb(114, 106, 106);
  width: 17px;
  height: 17px;
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 50%;
  margin: 3px;
}

.red-peg {
  background-color: rgb(199, 6, 6);
  width: 17px;
  height: 17px;
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 50%;
  margin: 3px;
}

.instruc-peg {
  display: flex;
  align-items: center;
}


/* ! Solution Items */
.solution {
  width: 200px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px;
  
}

.hide-sol {
  /* visibility: hidden; */
  display: none;
}

.sol-item {
  width: 50px;
  height: 50px;
}

/* ! Palette Items */
.palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  max-height: 500px;
  /* margin-left: 60px; */
}

.palette-item {
  margin: 3px;
}

.seagreen-bead {
  background-color: seagreen;
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.purple-bead {
  background-color: #800080;
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.blue-bead {
  background-color: #003a80;
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.coral-bead {
  background-color: #ff658e;
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.teal-bead {
  background-color: rgb(12, 170, 187);
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.yellow-bead {
  background-color: rgb(219, 237, 25);
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 22px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

/* When the radio button is checked */
.container input:checked ~ .checkmark {
  /* border: rgb(33, 35, 36) solid 2.5px; */
  border: orangered 3px solid;
}

/* ! Show/Hide Divs */
.winner-loser {
  width: 50vw;
  height:50vh;
  background-color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* margin-left: auto;
  margin-right: auto; */
}

/* ! Media Queries */
/* 350 or smaller screen */
@media only screen and (max-width: 375px) {
  h1 {
    margin-left: 0px;
  }

  .button {
    padding-right: 25%;
  }

  button {
    font-size: 12px;
  }

  .wrap {
    margin: 20px;
  }

  table {
    width: 170px;
    height: 400px;
  }
  
  tr {
    width: 170px;
    height: 40px;
  }
  
  .bead {
    width: 30px;
    height: 30px;
  }

  .h-board {
    width: 40px;
    height: 400px;
  }
  
  .h-row {
    width: 40px;
    height: 40px;
  }
  
  .h-cell {
    width: 12px;
    height: 12px;
  }

.seagreen-bead {
  width: 30px;
  height: 30px;
}

.purple-bead {
  width: 30px;
  height: 30px;
}

.blue-bead {
  width: 30px;
  height: 30px;
}

.coral-bead {
  width: 30px;
  height: 30px;
}

.teal-bead {
  width: 30px;
  height: 30px;
}

.yellow-bead {
  width: 30px;
  height: 30px;
}
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  
  .burger-wrap {
    right: 2%;
    top: 1%;
  }

  /* .wrap {
    margin: 10px;
  } */

}


/* anything smaller than 830 */
@media only screen and (max-width: 809px) {

h2 {
  padding: 0px 30px;
}

.button {
  padding-right: 20%;
}

.winner-loser {
  width: 70vw;
}

  .instructions {
    width: 100vw;
    height: 100vh;
    padding: 10px 30px;
    text-align: justify;
    position: absolute;
    left: 0;
    background-color: white;
    z-index: 1;
  }

  .decode {
    margin-top: 5px;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 900px) {
  .burger-wrap {
    flex-direction: column;
    width: 50px;
    height: 250px;
  }
  
  .burger-content {
    flex-direction: column;
    height: 200px;
  }
}