* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

h1 {
  font-family: sans-serif;
  color: coral;
  font-size: 55px;
  margin: 30px;
}

h2 {
  margin: 0px 0px 30px;
}

.wrap {
  display: flex;
}

.instructions {
  max-width: 250px;
  max-height: 500px;
  margin-right: 60px;
}

.show {
  display: none;
}

.decode {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  max-width: 400px;
}

table {
  width: 200px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border: none;
  background-color: rgb(207, 201, 201);
  margin: 10px;
}

tr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 50px;
  border: solid 0.5px black;
}

.row-selected {
  border: orangered 3px solid;
}

.bead {
  border: rgb(33, 35, 36) solid 2px;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.solution {
  width: 200px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px;
}

.sol-item {
  width: 50px;
  height: 50px;
}

.palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  max-height: 500px;
  /* margin-left: 60px; */
}

.palette-item {
  margin: 3px;
}

.seagreen-bead {
  background-color: seagreen;
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.purple-bead {
  background-color: purple;
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.blue-bead {
  background-color: rgb(0, 58, 128);
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.coral-bead {
  background-color: rgb(255, 101, 142);
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.teal-bead {
  background-color: rgb(12, 170, 187);
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.yellow-bead {
  background-color: rgb(219, 237, 25);
  border: rgb(33, 35, 36) solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 22px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

/* When the radio button is checked */
.container input:checked ~ .checkmark {
  border: rgb(33, 35, 36) solid 2.5px;
}

.h-board {
  width: 50px;
  height: 500px;
  border: black solid 1px;
  margin: 10px;
  background-color: rgb(207, 201, 201);
}

.h-row {
  width: 50px;
  height: 50px;
  border: rgb(0, 0, 0) solid 1px;
  display: flex;
  flex-wrap: wrap;
}

.h-cell {
  width: 17px;
  height: 17px;
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 50%;
  background-color: white;
  margin: 3px;
}

.winner {
  width: 50%;
  height:50%;
  background-color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.black-peg {
  background-color: black;
  width: 17px;
  height: 17px;
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 50%;
  margin: 3px;
}

.grey-peg {
  background-color: rgb(114, 106, 106);
  width: 17px;
  height: 17px;
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 50%;
  margin: 3px;
}

.red-peg {
  background-color: rgb(199, 6, 6);
  width: 17px;
  height: 17px;
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 50%;
  margin: 3px;
}